/MaterialRemindMe/.idea
/MaterialRemindMe/*.iml
/MaterialRemindMe/.gradle
/MaterialRemindMe/local.properties
/MaterialRemindMe/.idea/workspace.xml
/MaterialRemindMe/.idea/libraries
/MaterialRemindMe/.DS_Store
/MaterialRemindMe/build
/MaterialRemindMe/captures
